@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/lilac";

body {
  min-height: 100vh;
  font: var(--font-m);
}

.app {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.page-content {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
