.app_light_theme {
  --bg-color: #ececff;
  --primary-color: #0e5f98;
  --secondary-color: #073554;

  /***  Inverted colors */
  --inverted-bg-color: #0b054b;
  --inverted-primary-color: #8bf18b;
  --inverted-secondary-color: #45b245;

  /***  skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
