.app.light {
  --bg-color: #ececff;
  --primary-color: #0e5f98;
  --secondary-color: #073554;

  --inverted-bg-color: #0b054b;
  --inverted-primary-color: #8bf18b;
  --inverted-secondary-color: #45b245;

}
