.app_lilac_theme {
  --bg-color: #F6F4FB;
  --primary-color: #426EFF;
  --secondary-color: #836cbd;

  /***  inverted colors */
  --inverted-bg-color: #9e69ff;
  --inverted-primary-color: #F6F4FB;
  --inverted-secondary-color: #F6F4FB;

  /***  skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  /***  code */
  --code-bg: #fff;

  /***  card */
  --card-bg: #d6d6dc
}
