.Navbar {
  display: flex;
  padding: 0 15px;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  background: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
}

.link {
  margin-left: 15px;
}