.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.hesder {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.data {
  margin-top: 30px;
}

.inpur {
  margin-top: 10px;
}
